<div class="m-3 p-5 border-start border-secondary">
  <p><strong>You asked: </strong><%= @question %></p>
</div>
<div class="m-3 p-5 border-start border-secondary bg-warning bg-opacity-25">
  <p><strong>Coach says: </strong><%= @response %></p>
</div>
<a href="/ask">Ask again</a>
