<form action="/answer" data-turbo="false">
  <p class="form-label">Ask your coach anything:</p>
  <div class="input-group mb-3">
    <input class="input-group-text" type="text" name="question">
    <input class="input-group-text btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
